@page
@model ITMOWeb_Site.Pages.PostEditorModel
@{
   
}
<form method="post">
    <label for="name"> Как вас назвать?</label><br />
    <input type="text" name="name" id="name" /><br /><br />

    <label for="title">Заголовок</label><br />
    <input  style="width: 40%;" name="title" id="title" /><br /><br />

    <label for="text">Текст поста</label><br />
    <input style="width: 100%; max-height: 300px; height: 300px;" name="text" id="text" /><br /><br />
    <input type="submit" value="запостить" />
</form>
<h2>@Model.Message</h2>