@page
@model ITMOWeb_Site.Pages.RulesModel
@{
     ViewData["Rules"] = "Rules";
}
<div class="text-center">
    <h1 class="display-6">Rules</h1>
    <h4>1.Матом не ругаться</h4>
    <h4>2.Не обсуждать питон</h4>
    <h4>3.Быть вежливым</h4>
    <h4>4.И куча дефолтных правил</h4>
    <img class="RulesImg" src="~/Resourses/RulesGif.gif"/>
</div>